@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to my live streaming page</h1>

<iframe
  src="http://localhost:8080/embed/video"
  title="Owncast"
  height="350px" width="550px"
  referrerpolicy="origin"
  allowfullscreen>
</iframe>